body {
    background-color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-weight: 550;
    text-align:justify;
}

h1 {
    color: #800020;
} 

h3 {
    color: #808000;
}



img {
  box-shadow: 10px 5px 5px rgb(37, 36, 36);
  margin-bottom: 25px;
  border-radius: 8px;
}


